<ion-header>
    <ion-toolbar>
        <ion-title>
            Settings
        </ion-title>
        <ion-buttons slot="primary">
            <ion-button color="secondary" (click)="logout()">
                <ion-icon slot="icon-only" name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-button *ngIf="disabled" (click)="scan()">scan</ion-button>
            <ion-label>
                {{outputMessage}}
            </ion-label>
            <ion-label>
                {{outputData}}
            </ion-label>
        </ion-row>
        <ion-row>

            <canvas width="400px" height="400px" id="scan-canvas"></canvas>

        </ion-row>
        <ion-row>
            <ion-button *ngIf="!disabled" (click)="abort()">Abbrechen</ion-button>
        </ion-row>
    </ion-grid>
</ion-content>